@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
